<a href="https://colab.research.google.com/github/andreluizcastilho/colab/blob/main/formatacao_numerica_e_texto.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
faturamento = 1500
custo = 500
lucro = faturamento - custo
print(f'O lucro foi de {lucro}')

margem = lucro / faturamento
print(f'A margem foi de {margem}')

O lucro foi de 1000
A margem foi de 0.6666666666666666

In [2]:
faturamento = 1500
custo = 500
lucro = faturamento - custo
print(f'O lucro foi de R${lucro}')

O lucro foi de R$1000

In [3]:
margem = lucro / faturamento
print(f'A margem foi de {margem}')

A margem foi de 0.6666666666666666

In [4]:
faturamento = 1500
custo = 500
lucro = faturamento - custo
print(f'O lucro foi de {lucro}')

margem = lucro / faturamento
print(f'A margem foi de {margem}')

O lucro foi de 1000
A margem foi de 0.6666666666666666

In [5]:
margem = lucro / faturamento
print(f'A margem foi de {margem:.2%}')

A margem foi de 66.67%

In [6]:
texto_lucro = f'R${lucro:_.2f}'
print(f'O lucro foi de {texto_lucro}')

O lucro foi de R$1_000.00

In [7]:
texto_lucro = f'R${lucro:_.2f}'
texto_lucro = texto_lucro.replace('.',',').replace('_','.')
print(f'O lucro foi de {texto_lucro}')

O lucro foi de R$1.000,00

In [8]:
def formatar(valor):
    int_part, dec_part = format(valor, ',.2f').split('.')
    return f"R${int_part.replace(',', '.')},{dec_part}"

print(formatar(10_535.30))

R$10.535,30

In [9]:
initial_num = 1000000000

thousand_sep = (format(initial_num, ',d'))

print("Number before inserting commas : " + str(initial_num))
print("Number after inserting commas: " + str(thousand_sep))

Number before inserting commas : 1000000000
Number after inserting commas: 1,000,000,000

In [10]:
def thousand_sep(num):
    return ("{:,}".format(num))
  
print(thousand_sep(1000000000))

1,000,000,000

In [11]:
initial_num = 1000000000
f'{initial_num:,}'

'1,000,000,000'

In [13]:
numero = round(3.32424, 2)
print(numero)

3.32

In [14]:
numero2 = 4.38991
print("%.2f" % numero2)

4.39

In [15]:
teste = 7.98562434234
print('O valor de teste formatado é {:.4f}'.format(teste))

O valor de teste formatado é 7.9856

In [16]:
nome = 'Python Academy'

print(f"Qual o melhor Blog sobre Python? {nome}!")

Qual o melhor Blog sobre Python? Python Academy!

In [17]:
nome = 'python academy'

print(f"Qual o melhor Blog sobre Python? {nome.upper() + '!' * 3}")

Qual o melhor Blog sobre Python? PYTHON ACADEMY!!!

In [19]:
import math
x = 0.5
print(f'cos({x}) = {math.cos(x)}')

cos(0.5) = 0.8775825618903728

In [20]:
dicionario = dict({'nome': 'Vinícius', 'ocupacao': 'Software Engineer'})
print(f"{dicionario['nome']} é um {dicionario['ocupacao']}")

Vinícius é um Software Engineer

In [21]:
site = 'Python Academy'
titulo = 'f-string no Python'
dificuldade = 'Básico'

print(
  f"Site: {site}\n"
  f"Título: {titulo}\n"
  f"Dificuldade: {dificuldade}"
)

Site: Python Academy
Título: f-string no Python
Dificuldade: Básico

In [22]:
class Carro:
  def __init__(self, marca, modelo, ano):
    self.marca = marca
    self.modelo = modelo
    self.ano = ano
    
  def __str__(self):
    return f"{self.marca}/{self.modelo} - Ano {self.ano}"

  def __repr__(self):
    return (
      f"Marca: {self.marca}\n"
      f"Modelo: {self.modelo}\n"
      f"Ano: {self.ano}"
    )

In [23]:
possante = Carro('Ferrari', 'F8 Tributo', '21')
print(f'{possante}')

Ferrari/F8 Tributo - Ano 21

In [24]:
print(f'{possante!r}')

Marca: Ferrari
Modelo: F8 Tributo
Ano: 21